* {
  border: 1px solid red !important;
}
nav ul {
  float: right;
  padding-right: 10px;
}
nav li {
  display: inline-block;
  padding-left: 10px;
}
footer .about-links {
  float: left;
  padding-left: 20px;
}
footer .privacy-links {
  float: right;
  padding-right: 20px
}
footer li {
  display: inline-block;
  padding-right: 10px;
}
footer {
  background: #F2F2F2;
  width: 100%;
  bottom: 0;
}
#content {
  margin-left: auto;
  margin-right: auto;
}
